

body{
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: sans-serif;
  background-image: url(../img/PAYSAGE\ 2018\ sung-choi-new-earth-vista-sung-choi-1920.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  scroll-behavior: smooth;
}

main{
  background-color: white;
  height: 50%;
  width: 15%;
  margin: 0 auto;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  border-radius: 20px;
}

h1{
  margin: 0;
  height: 10%;
  line-height: 50px;
  text-align: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #ff9d00;
  color: white;
}

section{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
}

a{
  padding: 2%;
  width: 40%;
  height: 5%;
  text-align: center;
  line-height: 22px;
  background-color: #6fb554;
  border-radius: 20px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}
